@charset "utf-8";
/* CSS Document */
body{
	padding:0;
	margin:0;
	}
#Storbox{
	height:100%;
	width:100%;
	overflow-y: scroll;
	position:fixed;
	background-image:url(Photoshophemsidabakgrund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
	height:13%;
	width:70%;
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	box-sizing:content-box;
	margin-left:15%;
}
header img{
	width: 80%;
	height:auto;
	margin-left:10%;
	margin-top:0.75%;
}
aside{
	background-color:#cc3300;
	width:15%;
	height:100%;
    margin-left: 85%;
    position: fixed;
	overflow:hidden;
	float:right;
	opacity:0.6;
	padding-top:200px;	
}
aside img{
	height:auto;
	width:80%;
	border:solid;
	border-color:#000;
	border-radius:5px;
	border-width:5px;
	margin-top:40px;
	alignment-adjust:central;
	opacity:1;
}

nav{
	background-color:#cc3300;
	width:15%;
	height:200%;
	float:left;
	opacity:0.6;
	box-sizing:border-box;
	padding-top:200px;
	font-size:35px;
	position:fixed;
}
nav a{
	color:#000;
	text-decoration:none;
	display:block;
	margin-bottom:2px;
	text-align:center;
	border-width: 3px;
	border-color:#000;
	border-style:solid;
	border-radius:15px;
	background-color: #999;
}
nav a:hover{
	background-color:#666;
}
article{
	width:50%;
	height:50%;
	float:left;
	color:#FFF;
	font-style:italic;
	font-size:20px;
	margin-left:25%;

}
section{
	background-color:rgba(255,255,255,0.7);
	font-family:Verdana, Geneva, sans-serif;
	padding:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	color:#333;
	border:solid;
	border-width:5px;
	margin-top:20px;
}
section img{
	border:solid;
}
footer{
    display: none;
}
#Box{
	border:solid;
	border-color:#000;
	border-radius:10px;
	border-width:5px;
	position:fixed;
	width:15%;
    font-size:36px;
	text-align:center;
	
}
.diy-slideshow{
  position: relative;
  display: block;
  overflow: hidden;
  border:solid;
  border-color:#000;
  border-width:5px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  background-color:rgba(255,255,255,0.7);
}

.diy-slideshow figure{
  position: relative;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: 1s opacity;
}
figcaption{
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: rgba(0,0,0, .25);
  text-align:center;
  border-radius: 2px;
  font-weight:bold;
}
figcaption a{
  color: #fff;
}
/*
figcaption.show{
  opacity: 1;
  position: static;
  transition: 100s opacity;
}*/
figure.show{
  opacity: 1;
  position: relative;
  visibility: visible;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.1, .2, .3, .4, .5, .6{
margin: 10px 20px;
  color: #000;
  padding-top:10px;
}
h1{
	color:#cc3300;
}
h2{
	font-size:17px;
	text-decoration:underline;
}

ul{
	list-style:none;
	display:block;
	box-sizing:content-box;
	padding:0;
	color:#000;
	font-size:25px;
	margin-top:5px;
	float:left;
	margin-right:80%;
}
li{
	position: relative;
	margin-right:5px;
	display:block;
}
.outer{
    border-style: solid;
    border-width: 2px;
}
.dropdown{
	position:absolute;
	visibility:hidden;
	opacity: 0;
	transition: all 1s;
	left: 0;
	background-color: #cc3300;
	padding: 0;
	border:solid;
	border-width:2px;
	display: inline;
	margin-top: 0;
	margin-left:125px;
}

.content li{
	display: block;
	background: #cc3300;
}

.content li:hover .dropdown{
	visibility: visible;
	opacity: 1;
}

.dropdown li{
	clear: both;
}

a{
	text-decoration: none;
	color:#000;
}
.Faunafigure {
	opacity:1;
	visibility:visible;
	padding:0;
	height:20%;
	float:right;
    width:45%;
}
 img{
	height:100%;
    width: 100%;

}
.Pre{
	text-align:center;
	color:#000;
}
.Precursors{
    
}
.captionpre{
    width: 100%;
    float: left;
}
.index img{
	border:solid;
	border-width:5px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}

.left{
	float:left;
	width:22%;
	margin:1%;
}
#test{
	visibility:hidden;
	display:none;
}
.index{
    width: 70%;
    margin-left: 15%;
}
li .emil{
    font-size: 16px;
    margin
}

@media screen and (max-width: 800px) {
	nav{
        display: none;
		width:100%;
		height:10%;
		padding-top:0;
		background-color:transparent;
		opacity:1;
	}
	nav a{
		width:100%;
		opacity:1;
		
	}
    section{
        margin-top: 30%;
    }
	article{
		width:100%;
		height:80%;
		margin:0;
	}
	header img{
		width:100%;
		height:70%;
		margin-left:0;
	}
	aside{
		width:100%;
		height:10%;
		visibility:hidden;
		display:none;
	}
    footer{
        display: block;
        width: 100%;
        height: auto;
        float: left;
        background-color: rgba(204, 51, 0, 0.7);
        border: solid;
        border-radius: 20px;
        border-color: black;
        text-align: center;
        font-size: 25px;
        color: black;
    }
    footer img{
        height: auto;
        width: 20%;
    }
	#test{
		visibility:visible;
		display:block;
		float:right;
		position:relative;
		margin-bottom:10%;
	}
    .diy-slideshow{
        margin-top: 30%;
    }
    .Faunafigure{
        width: 80%;
    }
	#test > ul
    {
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
    }
        #test > ul > li
        {
            width: 100%;
            float: none;
        }
 
    /* second level */
 
    #test li ul
    {
        position: static;
    }
    img{
        width: 100%;
    }
    section img{
        margin-left: 0;
    }
    li .item{
        margin-right: 0;
    }
	#menu{
		margin-right:0;
	}
	.telefon{
		display: none;
	}
	.showtelefon{
		display: block;
	}
	ul{
		background-color:transparent;
		opacity:1;
		border:none;
	}
	a{
		opacity:1;
	}
    .left{
        margin: 0;
        width: 100%;
        float: none;
    }
}

